body {
    background-color: #311D00;
    color: #fff;
}
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-one {
    text-align: center;
}
#chubb {
    height: 256px;
}
.container-one {
    display: flex;
    justify-content: center;
}
.label {
    display: flex;
    justify-content: center;
    font-size: 18px;;
}
.broken-container {
    display: flex;
    justify-content: center;
    font-size: 18px;
}
#broken-tackles-total {
    display: inline-block;
}
#brk-tkls-num {
    display: inline-block;
}
#buttons {
    display: flex;
    justify-content: center;
}
#start {
    width: 90px;
    background-color: #fff;
}
#start:hover {
    background-color: #FF3C00;
    color: #fff;
}
#stop {
    width: 90px; 
    background-color: white;
}
#stop:hover {
    background-color: #FF3C00;
    color: #fff;
}
#broken-tackles-rewards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;;
}
#tackle-producer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
#nick-one {
    height: 128px;
}
#nick-two {
    height: 128px;
}
#nick-three {
    height: 128px;
}
#nick-button:hover {
    background-color: #FF3C00;
    color: #fff;
}
#nick-button-2:hover {
    background-color: #FF3C00;
    color: #fff;
}
#nick-button-3:hover {
    background-color: #FF3C00;
    color: #fff;
}
